/* bad poetry logo */
.landing-page h1 {
  font-size: 12vmax;
  font-weight: 900;
  font-family: 'Domine', serif;
  margin: 0 auto 0;
  width: 3em;
  line-height: 0.58;
  letter-spacing: -0.1em;
}

.header {
  border-bottom: 3px solid #536568;
}


/* 'bad poetry' in fixed nav */
.logo {
  color: #000; /* black */
  width: 14px;
  line-height: 0.8em;
  padding-top: 0.9em;
  text-transform: lowercase;
  font-family: 'Domine', serif;
}


.center-in-viewport {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}



/* nav colors */
.nav-collapse a {
  color: #CDDC2D;
  background-color: #EE4279;
  font-weight: bold;
  font: 16px 'Domine', serif;
}

/* hamburger menu */
.nav-toggle:before {
  color: #CDDC2D;
  font-siz: 36px;
  font-weight: bold;
}

/* 'X' to close menu */
.nav-toggle.active:before {
  font-size: 30px;
  font-weight: bold;
}

/* hints */
.hints {
  font-size: small;
  color: black;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid;
  background-color: white;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #536568;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #EE4279;
}



/* buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  color: #555;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #CDDC2D;
  background-color: #536568;
  border-color: #536568;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #CDDC2D;
  background-color: #EE4279;
  border-color: #EE4279;
}



/* forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: auto;
  background-color: #fff;
  border: 2px solid #536568;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 2px solid #EE4279;
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }





/* colors */
.white {
  color: #fff;
}

.green {
  color: #536568;
}

.green-bg {
  background-color: #536568;
}

.yellow {
  color: #CDDC2D;
}

.yellow-bg {
  background-color: #CDDC2D;
}

.pink {
  color: #EE4279;
}

.pink-bg {
  background-color: #EE4279;
}
