/* bad poetry logo */
.landing-page h1 {
  font-size: 12vmax;
  font-weight: 900;
  font-family: 'Domine', serif;
  margin: 0 auto 0;
  width: 3em;
  line-height: 0.58;
  letter-spacing: -0.1em;
}

.header {
  border-bottom: 3px solid #536568;
}


/* 'bad poetry' in fixed nav */
.logo {
  color: #000; /* black */
  width: 14px;
  line-height: 0.8em;
  padding-top: 0.9em;
  text-transform: lowercase;
  font-family: 'Domine', serif;
}


.center-in-viewport {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}


.nav-padding {
  padding-top: 100px;
}

/* nav colors */
.nav-collapse a {
  color: #CDDC2D;
  background-color: #EE4279;
  font-weight: bold;
  font: 16px 'Domine', serif;
}

/* hamburger menu */
.nav-toggle:before {
  color: #CDDC2D;
  font-siz: 36px;
  font-weight: bold;
}

/* 'X' to close menu */
.nav-toggle.active:before {
  font-size: 30px;
  font-weight: bold;
}

/* colors */
.white {
  color: #fff;
}

.green {
  color: #536568;
}

.green-bg {
  background-color: #536568;
}

.yellow {
  color: #CDDC2D;
}

.yellow-bg {
  background-color: #CDDC2D;
}

.pink {
  color: #EE4279;
}

.pink-bg {
  background-color: #EE4279;
}
